@charset "utf-8";

@import url(http://fonts.googleapis.com/css?family=Alegreya+Sans+SC:100,300,400);

@font-face{
    font-family: WebFont1;
    src: url('font/Frutiger LT 65 Bold.ttf') format("truetype");
    
}

/* @group reset */


*{
	margin:0; 
	padding:0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

img{ 
	vertical-align: middle;
	margin: 0;
	padding: 0; 
}

/* @end */

/* @mainstyle start */


html{
	line-height: 1.5;
	overflow: auto;
}

body {
	position: relative;
	font-family: 'Alegreya Sans SC', sans-serif;
	font-weight: 300;
}

a {
	color: #000;
	text-decoration: none;
	transition: all 0.2s ease;
	-webkit-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
}

a:hover {
	color: rgba(0,0,200,0.5) ;
}

h1,h2,h3 {
	font-weight: normal;
}

#wrapper {
	text-align: center;
	width: 100%;
	position: relative;
	box-sizing: border-box;
	height: auto;
}

.head {
	top: 20px;
	position: fixed;
	width: 1024px;
	max-width: 1024px;
	padding: 0 3%;
	box-sizing: border-box;
	left: 50%;
	margin-left: -512px;
	z-index: 1000;
}

/* position:fixed の状態だと margin: 0 auto が効かないため */

.logo {
	max-width: 1024px;
	text-align: left;
}

.logo h1 {
	color: #000;
	font-size: 1.1em;
	letter-spacing: 0.3em;
	font-family: 'Alegreya Sans SC', sans-serif;
	font-weight: 300;
}

#menu-wrap {
	text-align: right;
}

ul.menu {
	text-align: right;
	font-size: 13px;
	letter-spacing: 0.3em;
}

li {
	float: left;
	display: inline;
	font-family: 'Alegreya Sans SC', sans-serif;
	font-weight: 300;
	padding-right: 5px;
}

.contents{
	position: relative;
	top: 25px;
	width: 1024px;
	max-width: 1024px;
	padding: 0 3%;
	box-sizing: border-box;
	margin: auto;
	z-index: 1;
	overflow: hidden;

}

.topimage {
	text-align: right;
	position: relative;
}

.archive {
	text-align: left;
	padding-top: 100px;
	overflow: hidden;
	position: relative;
}

.year {
	height: auto;
	overflow: hidden;
	margin-bottom: 1em;
	position: relative;
}

.year_title {
	float: left;
}

.year_title h3 {
	font-size: 1.1em;
	letter-spacing: 0.3em;
	font-family: 'Alegreya Sans SC', sans-serif;
	font-weight: 300;
	cursor: pointer;
	-webkit-transition: text-shadow, 1s ease;
    -moz-transition: text-shadow, 0.5s ease-in-out;
    -ms-transition: text-shadow, 0.5s ease-in-out;
    -o-transition: text-shadow, 0.5s ease-in-out;
    transition: text-shadow, 0.5s ease;
}

.year_title h3:hover {
	color: transparent;
	text-shadow: 0 0 5px rgba(0,0,0,0.4);
}

.month_box {
	float: right;
	width: 750px;
	text-align: right;
	position: relative;
	overflow: hidden;
}

.month {
	clear: both;
	text-align: left;
	margin-bottom: 1.0em;
	padding: 0;
	letter-spacing: 0.1em;
}
.month_title {

}

.monthdate {
	font-size: 1.0em;
}

.monthdate a {
	border-bottom: 1px solid rgba(0,0,0,0.5) ;

}

#work_box {
	text-align: left;
	padding-top: 100px;
	overflow: hidden;
	position: relative;
}

.work {
	height: auto;
	overflow: hidden;
	margin-bottom: 1em;
	position: relative;
}

.work_title {
	float: left;
}

.work_title h3 {
	font-size: 1.1em;
	letter-spacing: 0.3em;
	font-family: 'Alegreya Sans SC', sans-serif;
	font-weight: 300;
	cursor: default;
}

.work_txt {
	float: right;
	width: 750px;
	text-align: right;
	position: relative;
	overflow: hidden;
	font-family: "ヒラギノ角ゴ Pro","Hiragino Kaku Gothic Pro";
	font-size: 0.7em;
	line-height: 2em;
}

#profile_box {
	text-align: left;
	padding-top: 100px;
	overflow: hidden;
	position: relative;
}

.profile {
	height: auto;
	overflow: hidden;
	margin-bottom: 1em;
	position: relative;
}

.profile_title {
	float: left;
}

.profile_title h3 {
	font-size: 1.1em;
	letter-spacing: 0.3em;
	font-family: 'Alegreya Sans SC', sans-serif;
	font-weight: 300;
	cursor: default;
}

.profile_txt {
	float: right;
	width: 750px;
	text-align: right;
	position: relative;
	overflow: hidden;
	font-family: "ヒラギノ角ゴ Pro","Hiragino Kaku Gothic Pro";
	font-size: 0.7em;
	line-height: 2em;

}

.month {
	clear: both;
	text-align: left;
	margin-bottom: 1.0em;
	padding: 0;
	letter-spacing: 0.1em;
}

.title {
	font-family: 'Karla', sans-serif;
	font-size: 14px;
	padding-bottom: 20px;
}

.text img{
	width: 100%;
	max-width: 1014px;
	padding-bottom: 20px;
	box-sizing: border-box;
}

.footer {
	width: 100%;
	text-align: center;
	padding: 50px 0 50px 0;
	letter-spacing: 1em;
}


@media screen and (max-width : 1023px){
.head {
	width: 100%;
	max-width: 1023px;
	left: 0;
	margin-left: 0;
}
}